@tailwind base;
@tailwind components;
@tailwind utilities;

$base-color: linear-gradient(
  0deg,
  rgba(144, 199, 200, 0.6560749299719888) 0%,
  rgba(219, 113, 221, 0.4095763305322129) 100%
);

html {
  height: 100%;
}

body {
  height: 100%;
  background: rgb(144, 199, 200);
  background: $base-color;
  backdrop-filter: blur(50px);
}

.container {
  max-width: 100%;
}
